HLife/bin/Debug/HLife.exe
HLife/bin/Debug/HLife.pdb
HLife/obj/Debug/HLife.csproj.GenerateResource.Cache
HLife/obj/Debug/HLife.csprojResolveAssemblyReference.cache
HLife/obj/Debug/HLife.exe
HLife/obj/Debug/HLife.pdb
